<div class="toolbar-container" aria="header">
    <div class="toolbar-background">
        <div class="toolbar-section">
            <div class="left-section">
                <ng-content select="[left]"></ng-content>
            </div>
    
            <div class="center-section">
                <ng-content select="[center]"></ng-content>
            </div>
    
            <div class="right-section">
                <ng-content select="[right]"></ng-content>
            </div>
        </div>
    </div>
</div>